<!doctype html>
<html>
  <body>
    <h1>Lembrar senha</h1>
    <form action="/user/forgot" method="POST">
      <p>Digite o email de cadastro abaixo para receber novas credenciais de acesso:</p>
      <input name="email" type="text" />
      <input type="submit" value="Send" />
    </form>
    <p>
      Caso não possua cadastro <a href="/user/signup">clique aqui</a>.
    </p>
  </body>
</html>